<div id="content">
  <img class="decoration top" src="assets/imgs/portfolio-bg-1.png" alt="">
  <img class="decoration bottom" src="assets/imgs/portfolio-bg-2.png" alt="">
  <div class="grid">
    <section class="photo">
      <img src="assets/imgs/portfolio-photo.png" alt="">
      <p>&#62;Hoja de vida&#60;</p>
    </section>
    <section class="info">
      <h1 class="no-margin">
        Verónica
      </h1>
      <h2 class="no-margin">Valencia Echavarria</h2>
      <strong>Profesional en estudios literarios</strong>
      <br>
      Egresada no graduada
      <h3>Perfil</h3>
      <p class="profile">
        Escribir como una necesidad, escribir como la mejor forma de vivir y compartir el hecho teatral y cultural, la
        literatura, la calle y los viajes.
      </p>
      <h3>Contacto</h3>
      <p class="contact">
        veronica.valencia@upb.edu.co&nbsp;&nbsp;&nbsp;318 614 9831
      </p>
    </section>
    <section class="work">
      <h3>Publicaciones</h3>
      <div class="chairs">
        <img class="chair" src="assets/imgs/portfolio-chair.png" alt="">
        <img class="chair" src="assets/imgs/portfolio-chair.png" alt="">
        <img class="chair" src="assets/imgs/portfolio-chair.png" alt="">
        <img class="chair" src="assets/imgs/portfolio-chair.png" alt="">
        <img class="chair" src="assets/imgs/portfolio-chair.png" alt="">
        <img class="chair" src="assets/imgs/portfolio-chair.png" alt="">
        <img class="chair" src="assets/imgs/portfolio-chair.png" alt="">
        <img class="chair" src="assets/imgs/portfolio-chair.png" alt="">
        <img class="chair" src="assets/imgs/portfolio-chair.png" alt="">
        <img class="chair" src="assets/imgs/portfolio-chair.png" alt="">
        <img class="chair" src="assets/imgs/portfolio-chair.png" alt="">
        <img class="chair" src="assets/imgs/portfolio-chair.png" alt="">
        <img class="chair" src="assets/imgs/portfolio-chair.png" alt="">
        <img class="chair" src="assets/imgs/portfolio-chair.png" alt="">
      </div>
    </section>
    <footer>
      "Lorem ipsum dolor sit amet consectetur adipiscing elit"
    </footer>
  </div>
</div>