#content
  position: relative
  overflow-x: hidden
  overflow-y: auto
  .decoration
    position: absolute
    &.top
      top: 0
      left: 0
      width: 110%
    &.bottom
      top: 50%
      left: 0
      width: 20%

.grid
  display: grid
  height: 100vh
  grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr
  grid-template-rows: 1fr 5fr 5fr 1fr
  grid-template-areas: "pl margin margin margin margin pr" "pl picture picture profile . pr" "pl . work work . pr" "pl . footer footer . pr"

.photo
  grid-area: picture
  display: flex
  flex-direction: column
  align-items: center
  img
    width: 90%

.info
  grid-area: profile
  font-family: 'museo_sans100'

.work
  grid-area: work

.chairs
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  align-items: center
  .container
    transition: all 500ms
    position: relative
    .chair
      width: 70px
    .float
      font-family: 'museo_slab300'
      background-image: url("/assets/imgs/float.png")
      background-size: 100% 100%
      background-repeat: no-repeat
      padding: 12px 30px 35px 12px
      position: absolute
      width: 200%
      bottom: 100%
      left: -40%
    

footer
  grid-area: footer
  text-align: center
  font-family: 'museo_sans100'
  
  .author
    float: right

@media (max-width: 768px)

  .grid
    display: flex
    flex-direction: column
    padding: 8% 8% 0 8%
    height: auto
    overflow-y: auto

